<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <p>Welcome to the home page!</p>
    <div class="flex">
        <h1> Products </h1>
        <a href="./products">View Products</a>
    </div>

    <form method="post" action="/products">

        <input type="text" placeholder="Name" name="name" />
        <input type="text" placeholder="Description" name="description" />
        <input type="number" placeholder="Price" name="price" />
        <input type="number" placeholder="Stock Quantity" name="stockQuantity" />
        <input type="text" placeholder="Category" name="category" />
        <input type="text" placeholder="Image URL" name="imageUrl" />
        <input type="submit" />
    </form>
</body>

</html>